.creator {
    padding: 1rem;
    margin: 1rem;
    border-radius: 8px;
    width: 90%;
    border: 2px solid #000;
    min-width: 350px;
}


.creator span {

    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.p-3 span {
    font-size: 16px;
    color: black;
    margin-bottom: 8px;
    margin-right: 8px;
    letter-spacing: 0.5px;
    background-clip: text;
    padding: 4px 0;
}


.input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;

}

.name-input {
    flex: 1;
    padding: 12px 16px;
    font-size: 16px;
    border: 2px solid #e1e5e9;
    border-radius: 8px;
    outline: none;
    transition: all 0.3s ease;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 20px;
}

.create-button {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: linear-gradient(135deg, #4CAF50 0%, #45a049 100%);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(76, 175, 80, 0.2);
    white-space: nowrap;
}
.create-button-disabled {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: grey;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(76, 175, 80, 0.2);
    white-space: nowrap;
}

.create-button-coord {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: linear-gradient(135deg, #4CAF50 0%, #45a049 100%);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(76, 175, 80, 0.2);
    white-space: nowrap;
}

.create-button-negative {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    color: black;
    background: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap;
}

.ml-1 {
    color: green;
}

#city_creator {
    min-width: 1600px;
}