/* table.css */

.p-2 {
    padding: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid #000;
    margin: 1rem;
    border-radius: 8px;
    min-width: 1300px;
}

.p-2 input[type="text"] {
    height: 10%;
    width: 60%;
    padding: 10px 15px;
    border: 2px solid #e1e5e9;
    font-size: 12px;
}

/* Стили таблицы */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

thead {
    background: black;
}

thead th {
    padding: 15px 12px;
    text-align: left;
    font-weight: 600;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    position: relative;
    border: 1px solid grey;
}




tbody tr {
    border: 1px solid white;
}

tbody tr:hover {
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}

tbody tr:nth-child(even):hover {
    background-color: #e9ecef;
}

td {
    padding: 12px;
    border: 1px solid black;;
    font-size: 14px;
    color: #495057;
}

td:first-child {
    font-weight: 600;
    color: black;
}
.sort-button{
    margin: 8px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: linear-gradient(135deg, #4CAF50 0%, #45a049 100%);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(76, 175, 80, 0.2);
    white-space: nowrap;
}
